streamlit
nest_asyncio
torch
transformers>=4.45.1
openai
Pillow
torchvision
accelerate>=0.26.0
'https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_multi-backend-refactor/bitsandbytes-0.44.1.dev0-py3-none-manylinux_2_24_x86_64.whl'
