streamlit
pillow
openai==0.28
torch
torchvision
transformers
accelerate
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl
